.navbar {
  justify-content: space-between;
  background-color: #32CD32;
  height: 100px;
}

span {
  padding-right: 3rem;
}

.navbar-brand{
  
  color: #fcf0f0;
  font-size: 40px;
  margin-left: 30px;
}

.nav-link{
  color:#f5f2f2;
  font-size: 18px;
  margin-right: 20px;
  padding-top: 40px;
  height: 100px;
  width: 110px;
  text-align: center;
}

.nav-link:hover{
  background-color: #f5f2f2;
  color: #0c0c3d;
}

.view-all-booking{
  min-width: 200px;
  margin-bottom: 17px;
  height: 120px;
}

.details{
  margin-top: 20px;
  margin-bottom: 30px;
}

.user-form{
  border: 5px solid #f3f0f0e8;
  margin-left: 50px;
  max-width: 700px;
  /* padding: 10px */
}
.form{
  padding: 10px;
}

h2{
  background-color: #32CD32;
  color: #fff;
  text-align: center;
  height: 50px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* .btn-success{
  margin-left: 20px;
  min-width: 100px;
  min-height: 50px;
  background-color: #32CD32;
  color: #fff;
} */