
span {
  padding-right: 3rem;
}


.details{
  margin-top: 20px;
  margin-bottom: 30px;
}

.user-form{
  border: 5px solid #f3f0f0e8;
  margin-left: 50px;
  max-width: 700px;
  /* padding: 10px */
}
.form{
  padding: 10px;
}

h2{
  background-color: #32CD32;
  color: #fff;
  text-align: center;
  height: 50px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn{
background-color: #7b1fa2;
color: white;
}

.card{
  background-image: linear-gradient(rgb(32, 99, 175),rgb(24,76,137));
  min-height: 300px;
  margin-top: 0px;
  margin-bottom: 100px;
}

h3{
  color: #7a247a;
}
.form{
  max-width: 300px;
  max-height: 300px;
}

.span-title{
  color: whitesmoke;
}