.vl {
  border-left: 6px solid green;
  height: 500px;
}

.btn-success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

label {
  font-size: 15px;
  color: #0c0c3d;
}

h1 {
  text-align: center;
  font-size: 30px;
  color: #0c0c3d;
  margin-top: 10px;
  margin-right: 20px;
}
.upper-section{
  display: flex;
  max-height: 400px;
  max-width: 600px;
  margin-top: 30px;
  margin-left: 190px;
}

/* middle section start */
.search-box{
  max-width: 1000px;
  margin-left: 230px;
  padding: 50px 50px 50px 50px;
}


.table{
  margin: 50px 50px;
}

.action-btn{
  color: #0c0c3d;
}

.title{
  text-align: center;
}

.search{
  margin-top:10px;
  margin-left: 410px;
}

