
<div class="row">
  <div class="col s12">
    <div class="card z-depth-3">
      <div class="card-content">
        <div class="row">
          <div class="col s5 ipForm">

            <form #flightForm="ngForm" (ngSubmit)="onSubmit(flightForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="adminService.selectedFlight._id">

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="airLine" #name="ngModel" [(ngModel)]="adminService.selectedFlight.airLine" placeholder="Enter airLine name" >
                  <label>AirLine :
                    <!-- <label class="red-text">*</label> -->
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="flightName" #name="ngModel" [(ngModel)]="adminService.selectedFlight.flightName" placeholder="flightName" required>
                  <label>Flight Name :
                    <label class="red-text">*</label>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="source" #name="ngModel" [(ngModel)]="adminService.selectedFlight.source" placeholder="Enter source">
                  <label>From:</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="destination" #name="ngModel" [(ngModel)]="adminService.selectedFlight.destination" placeholder="Enter destination">
                  <label>To:</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="fare" #name="ngModel" [(ngModel)]="adminService.selectedFlight.fare" placeholder="fare">
                  <label>Fare :</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="seatCount" #name="ngModel" [(ngModel)]="adminService.selectedFlight.seatCount" placeholder="seatCount">
                  <label>Seat Count :</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn success" type="submit" [disabled]="!flightForm.valid">Submit</button>
                  <button class="btn btn-danger" type="button" (click)="resetForm(flightForm)">Reset</button>
                  <!-- <button class="btn btn-custom" type="submit" [disabled]="!flightForm.valid">Submit</button> -->
                </div>
              </div>
            </form>
          </div>
          <div class="vl"></div>
          <div class="col s7">
              <table class="responsive-table highlight">
                  <thead>
                    <tr>
                      <th class="tbl-head">Air-Line</th>
                      <th class="tbl-head">Flight No</th>
                      <th class="tbl-head">From</th>
                      <th class="tbl-head">To</th>
                      <th class="tbl-head">Fare</th>
                      <th class="tbl-head">Seats</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tr class="dispForm" *ngFor="let f of adminService.flights">
                    <td>{{f.airLine}}</td>
                    <td>{{f.flightName}}</td>
                    <td>{{f.source}}</td>
                    <td>{{f.destination}}</td>
                    <td>{{f.fare | currency:'INR':'symbol'}}</td>
                    <td >{{f.seatCount}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(f)">
                          <i class="material-icons">edit</i>
                        </a>
                        <a class="action-btn" (click)="onDelete(f.flightName,flightForm)">
                          <i class="material-icons">delete</i>
                        </a>
                      </td>
                  </tr>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

