<!-- <div class="success-page">
  <h1 class="title">Payment Successfull</h1>
  <h2 class="data">{{this.bookFlightService.bookingId.bookingId}} is your booking Id</h2>
  <p class="data">Happy journey !!</p>
  <br>
  <button class="btn view-btn" type="button">View all bookings</button>
</div> -->

<div class="col s12 m7">
  <!-- <h2 class="header">Horizontal Card</h2> -->
  <div class="card horizontal">
    <div class="card-image">
      <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
      <h1 class="title">PAYMENT SUCCESSFULL</h1>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h2>congrats ! your flight seat is booked.</h2>
        <h2>Don't forget to checkIn</h2>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn">view all bookings</a>
      </div>
    </div>
  </div>
</div>
       
