.card-header{
  background-color:	#b0a0cc;
  color: #0c0c3d;
}

.title{
  color: #0c0c3d;
  text-align: center;
  font-size: 30px;
  min-height: 50px;
  padding-top: 6px;
}

label {
  font-size: 15px;
  color: #0c0c3d;
}

.card-body{
  background-color: #e6ddf7;
}
